body{
    font-family: 'Open Sans', sans-serif;
}
.first-section{
    text-align: center;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    padding: 10%;
}
.donate-button{
    padding-top: 20px;
}
.link-button{
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 600;
}
.link-button:hover{
    opacity: .6;
}
.second-section{
    padding: 5%;
    text-align: center;
}
.flexible-container{
    display: flex;   
    padding: 5%;
    justify-content: center;
}
.box{
    font-weight: bold;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px gray;
    background-image: linear-gradient(grey);
    padding: 20px 20px;
}
.box:hover{
    background-color: #ff5959;
}
.form-field {
  width: 50%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
::placeholder{
    text-align: center;
}